.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header{
  background: tomato;
  height: 200px;
  font-size: 50px;
}

.footer {
  background: lightgreen;
  height: 80px;
}

.main{
  text-align: left;
  background: deepskyblue;
  height: 500px;
  font-size: 24px;
}

p{
  padding: px 20px;
  text-align: left;
}

.aside1 {
  background: gold;
}

.aside2 {
  background: hotpink;
}
@media all and (min-width: 800px){
  .main{
    flex: 3;
    text-align: center;
    font-size: 30px;
    padding: 20px;
  }
  
  .aside1{
    order: 1;
  }
  
  .aside2{
    order: 2;
  }
  
  .main{
    order: 2;
  }
  
  .footer {
    order 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
  
  p1{
    font-size: 24px;
    
  }